<div class="single-blog-item blog-grid">
    <div class="post-feature blog-thumbnail">
        <a href="{{ 'blog/detail'|page({slug: blog.slug}) }}">
            <img class="img-fluid" src="{{ 'assets/images/blog-placeholder.png'|theme }}" alt="Blog Images">
        </a>
    </div>
    <div class="post-info lg-blog-post-info">
        <div class="post-meta">
            <div class="post-date">
                <span class="far fa-calendar meta-icon"></span>
                {{ blog.published_at|date('d F Y') }}
            </div>
        </div>
        <h5 class="post-title font-weight--bold">
            <a href="{{ 'blog/detail'|page({slug: blog.slug}) }}">{{ blog.title }}</a>
        </h5>
        <div class="post-excerpt mt-15">
            <p>They play a role in making operations more seamless, bridging the gap between authorities, consumers and businesses. …</p>
        </div>
        <div class="btn-text">
            <a href="{{ 'blog/detail'|page({slug: blog.slug}) }}">
                Selengkapnya <i class="ml-1 button-icon far fa-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <!-- Post info End -->
</div>
