<!--========== Call to Action Area Start ============-->
    <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-7">
                    <div class="cta-content md-text-center">
                        <h3 class="heading">Kami menjalankan semua jenis layanan IT yang menjanjikan <span class="text-color-primary">kesuksesan Anda</span></h3>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="cta-button-group--two text-center">
                        <a href="tel:{{ settings.site.contact_phone }}" class="btn btn--white btn-one">
                            <span class="btn-icon mr-2"><i class="fa fa-phone"></i></span> {{ settings.site.contact_phone }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========== Call to Action Area End ============-->
