<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_box text-center">
                    <h2 class="breadcrumb-title">{{ this.page.title }}</h2>
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="{{ 'home'|page }}">Beranda</a></li>
                        {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item {{ loop.last ? 'active' : ''}}">{{ breadcrumb.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
