<div class="footer-area-wrapper bg-gray">
    <div class="footer-area section-space--ptb_80">
        <div class="container">
            <div class="row footer-widget-wrapper">
                <div class="offset-sm-3 col-sm-6 col-12 text-center footer-widget">
                    <div class="footer-widget__logo mb-30">
                        <img src="{{ 'assets/images/logo-160.png'|theme }}" class="img-fluid" alt="">
                    </div>
                    <p>{{ settings.site.description }}</p>
                    <ul class="list ht-social-networks solid-rounded-icon">
                        <li class="item">
                            <a href="https://www.instagram.com/andalan.infotek/" target="_blank" aria-label="Instagram" class="social-link hint--bounce hint--top hint--primary">
                                <i class="fab fa-instagram link-icon"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://www.linkedin.com/company/pt-andalan-informasi-teknologi" target="_blank" aria-label="Linkedin" class="social-link hint--bounce hint--top hint--primary">
                                <i class="fab fa-linkedin link-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area bg-light p-3 text-center">
        <div class="container">
            <span class="copyright-text">
                © 2020 {{ settings.site.name  }}. <a href="{{ 'home'|page }}">All Rights Reserved.</a>
            </span>
        </div>
    </div>
</div>
