[staticMenu mainMenu]
code = "main-menu"

==
<div class="header-area">
    <div class="header-top-bar-info bg-gray d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-bar-wrap">
                        <div class="top-bar-right">
                            <ul class="top-bar-info">
                                <li class="info-item">
                                    <a href="tel:{{ settings.site.contact_phone }}" class="info-link">
                                        <i class="info-icon fa fa-phone"></i>
                                        <span class="info-text"><strong>{{ settings.site.contact_phone }}</strong></span>
                                    </a>
                                </li>
                                <li class="info-item">
                                    <a href="tel:{{ settings.site.contact_email }}" class="info-link">
                                        <i class="info-icon fa fa-envelope"></i>
                                        <span class="info-text"><strong>{{ settings.site.contact_email }}</strong></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom-wrap header-sticky bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header position-relative">
                        <!-- brand logo -->
                        <div class="header__logo">
                            <a href="{{ 'home'|page }}">
                                <img src="{{ 'assets/images/logo-320.png'|theme }}" class="img-fluid" alt="">
                            </a>
                        </div>

                        <div class="header-right">

                            <!-- navigation menu -->
                            <div class="header__navigation menu-style-three d-none d-xl-block">
                                <nav class="navigation-menu">
                                    <ul>
                                        {% for item in mainMenu.menuItems %}
                                        <li class="{{ item.isActive ? 'active' : '' }}">
                                            <a href="{{ item.url }}"><span>{{ item.title }}</span></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>

                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu-overlay" id="mobile-menu-overlay">
    <div class="mobile-menu-overlay__inner">
        <div class="mobile-menu-overlay__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8">
                        <!-- logo -->
                        <div class="logo">
                            <a href="{{ 'home'|page }}">
                                <img src="{{ 'assets/images/logo-320.png'|theme }}" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-4">
                        <!-- mobile menu content -->
                        <div class="mobile-menu-content text-right">
                            <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-overlay__body">
            <nav class="offcanvas-navigation">
                <ul>
                    {% for item in mainMenu.menuItems %}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
