title     = "Tentang Kami"
url       = "/about"
layout    = "default"
is_hidden = 0
==
function onEnd() {
    $this['reviews']     = \Andalan\Review\Models\Review::get();
    $this['breadcrumbs'] = [
        [
            'name' => 'Profile',
            'url'  => '/profile'
        ]
    ];
}
==
{% partial 'banner-primary' %}
<div class="site-wrapper-reveal">
    {% if settings.page.values %}
    <div class="section-space--ptb_100">
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_60">
                    <h6 class="section-sub-title mb-20">NILAI PERUSAHAAN</h6>
                    <h3 class="heading">Kami unggul untuk memberikan solusi optimal.</h3>
                </div>
            </div>
        </div>

        <div class="container">
            {% for key, value in settings.page.values %}
            {% if key%2 ==0 %}
                <div class="row align-items-center margin-40px-bottom">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <h4><span class="text-primary">{{ value.name }}</h4>
                        <p class="inner-title margin-30px-bottom">
                            {{ value.description }}
                        </p>
                    </div>
                    <div class="col-lg-6 text-right sm-margin-40px-bottom order-1 order-lg-2">
                        <img src="{{ value.image|media }}" alt="" class="img-responsive">
                    </div>
                </div>
            {% else %}
                <div class="row align-items-center margin-40px-bottom">
                    <div class="col-lg-6 order-2 order-lg-2">
                        <h4><span class="text-primary">{{ value.name }}</h4>
                        <p class="inner-title margin-30px-bottom">
                            {{ value.description }}
                        </p>
                    </div>
                    <div class="col-lg-6 text-right sm-margin-40px-bottom order-1 order-lg-2">
                        <img src="{{ value.image|media }}" alt="" class="img-responsive">
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!--===========  feature-large-images-wrapper  Start =============-->
    <div class="feature-large-images-wrapper section-space--ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title-wrap Start -->
                    <div class="section-title-wrap text-center section-space--mb_60">
                        <h6 class="section-sub-title mb-20">Layanan Kami</h6>
                        <h3 class="heading">Kami menjalankan semua jenis layanan IT yang <br>  menunjukkan kesuksesan Anda</h3>
                    </div>
                    <!-- section-title-wrap Start -->
                </div>
            </div>
            <div class="feature-images__one">
                <div class="row">
                    {% for service in settings.page.services  %}
                    <div class="col-lg-6 col-md-6 wow move-up">
                       {% partial 'service/card-service' service=service %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--===========  feature-large-images-wrapper  End =============-->

    <!--========= About Resources Wrapper Start ===========-->
    <div class="about-resources-wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="resources-left-box">
                        <div class="resources-inner">
                            <h6 class="sub-title mb-20">Resources</h6>
                            <h3 class="heading">Dapatkan company profile tentang <span class="text-color-primary"> {{ settings.site.name }}.</span></h3>
                            <div class="button mt-30">
                                <a href="#" class="ht-btn ht-btn-md">Unduh Sekarang</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="resources-right-box">
                        <div class="resources-right-inner text-center">
                            <div class="resources-images">
                                <img class="img-fluid" src="https://demo.hasthemes.com/mitech-preview/assets/images/banners/managed-it-services-book-cover.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========= About Resources Wrapper End ===========-->
    <!--====================  testimonial section ====================-->
    <div class="about-delivering-wrapper  section-space--pt_100 section-space--ptb_60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center section-space--mb_40">
                        <h6 class="section-sub-title mb-20">Testimonials</h6>
                        <h3 class="heading">
                        	Apa yang orang katakan tentang <span class="text-color-primary">{{ settings.site.name }}?</span>
                        </h3>
                    </div>
                    <div class="testimonial-slider">
                        <div class="swiper-container testimonial-slider__container swiper-container-initialized swiper-container-horizontal">
                            <div class="swiper-wrapper testimonial-slider__wrapper" style="transition-duration: 0ms; transform: translate3d(-1200px, 0px, 0px);">
                            	{% for review in reviews %}
                                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 570px; margin-right: 30px;">
                                    <div class="testimonial-slider__one wow move-up" style="visibility: hidden; animation-name: none;">
                                        {% partial 'review/slider-review' review=review %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination swiper-pagination-t01 section-space--mt_30 swiper-pagination-clickable swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of testimonial section  ====================-->

    {% partial 'banner-contact' %}
</div>
