title     = "Pelanggan"
url       = "/client"
layout    = "default"
is_hidden = 0
==
function onEnd() {
    $this['clients']     = \Andalan\Client\Models\Client::get();
    $this['breadcrumbs'] = [
        [
            'name' => 'Pelanggan',
            'url'  => '/client'
        ]
    ];
}
==
{% partial 'banner-primary' %}
<div class="site-wrapper-reveal">
    <!--===========  feature-large-images-wrapper  Start =============-->
    <div class="feature-large-images-wrapper section-space--ptb_100">
        <div class="container">
            <div class="feature-images__one">
                <div class="row">
                    {% for client in clients %}
                    <div class="col-lg-4 col-md-6 wow move-up">
                        {% partial 'client/card-client' client=client %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--===========  feature-large-images-wrapper  End =============-->

    {% partial 'banner-contact' %}
</div>
