title     = "Hubungi Kami"
url       = "/contact"
layout    = "default"
is_hidden = 0

[BaseContact]
==
function onEnd() {
    $this['breadcrumbs'] = [
        [
            'name' => 'Hubungi Kami',
            'url'  => '/contact'
        ]
    ];
}
==
{% partial 'banner-primary' %}
<div class="site-wrapper-reveal">
    <!--====================  Conact us Section Start ====================-->
    <div class="contact-us-section-wrappaer section-space--pt_100 section-space--pb_70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-lg-6">
                    <div class="conact-us-wrap-one mb-30">
                        <h3 class="heading">Untuk membuat permintaan <br>informasi lebih lanjut, <br><span class="text-color-primary">anda dapat</span> melengkapi formulir ini. </h3>
                        <div class="sub-heading">Kami hanya butuh beberapa jam! <br> Tidak lebih dari 2 hari kerja sejak menerima tiket terbitan Anda.</div>
                    </div>
                </div>

                <div class="col-lg-6 col-lg-6">
                    <div class="contact-form-wrap">
                        <form data-request="BaseContact::onSave" data-request-flash>
                            <div class="contact-form">
                                <div class="contact-input">
                                    <div class="contact-inner">
                                        <input name="name" type="text" placeholder="Nama">
                                    </div>
                                    <div class="contact-inner">
                                        <input name="phone" type="text" placeholder="Telepon">
                                    </div>
                                </div>
                                <div class="contact-inner">
                                    <input name="subject" type="text" placeholder="Keperluan">
                                </div>
                                <div class="contact-inner contact-message">
                                    <textarea name="body" placeholder="Jelaskan apa yang Anda butuhkan."></textarea>
                                </div>
                                <div class="submit-btn mt-20">
                                    <button class="ht-btn ht-btn-md" type="submit" data-attach-loading>KIRIM</button>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3968.0807785645984!2d106.0140978145446!3d-5.983615260467561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e419157148c4131%3A0x275d3d29d34d9d16!2sandalan%20information%20technology!5e0!3m2!1sen!2sid!4v1608826350622!5m2!1sen!2sid" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <!--====================  Conact us Section End  ====================-->
    {% partial 'banner-contact' %}
</div>
