title     = "Beranda"
url       = "/"
layout    = "default"
is_hidden = 0

[blogPosts]
pageNumber     = "{{ :page }}"
postsPerPage   = 2
noPostsMessage = "No posts found"
sortOrder      = "published_at desc"
categoryPage   = "blog/category"
postPage       = "blog/post"
==
<?php
function onEnd() {
    $this['portfolios'] = \Andalan\Portfolio\Models\Portfolio::get();
    $this['reviews']    = \Andalan\Review\Models\Review::get();
}
?>
==
<!--============ Infotechno Hero Start ============-->
<div class="infotechno-hero infotechno-bg">
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
	  	<div class="carousel-inner">
            {% for key, slider in settings.appearance.sliders %}
	    	<div class="carousel-item {{ key == 0 ? 'active' : ''}}">
	      		<img src="{{ slider.path }}" class="d-block w-100" alt="...">
	    	</div>
            {% endfor %}
	  	</div>
		<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<!--============ Infotechno Hero End ============-->

<!--===========  feature-images-wrapper  Start =============-->
<div class="feature-images-wrapper bg-gray section-space--ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrap text-center">
                    <h6 class="section-sub-title mb-20">LAYANAN KAMI</h6>
                    <h3 class="heading">Kami menjalankan semua jenis layanan IT yang <br>  menunjukkan kesuksesan Anda</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="feature-images__one">
                    <div class="row">
                    	{% for service in settings.page.services %}
                        <div class="col-lg-6 col-md-6 wow move-up">
                           {% partial 'service/card-service' service=service %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===========  feature-images-wrapper  End =============-->

<!--=========== Infotechno Video Wrapper Start ==========-->
<div class="infotechno-video-wrapper infotechno-video-ptb infotechno-video-bg" style="background-image: url('https://demo.hasthemes.com/mitech-preview/assets/images/bg/home-infotechno-video-intro-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-11 ml-auto">
                <div class="video-content-wrap">
                    <div class="vieeo-content-inner">
                        <h2 class="heading">
                            Share the joy of achieving glorious moments<br>&amp;climbing up the top.
                        </h2>
                        <div class="viewo-text-wrap">
                            <div class="video-popup infotech-video-box">
                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="single-popup-wrap video-link">
                                    <div class="video-content">
                                        <div class="ht-popup-video video-button">
                                            <div class="video-mark">
                                                <div class="wave-pulse wave-pulse-1"></div>
                                                <div class="wave-pulse wave-pulse-2"></div>
                                            </div>
                                            <div class="video-button__two">
                                                <div class="video-play">
                                                    <span class="video-play-icon"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="video-text">
                                            Watch video<br>intro

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=========== Infotechno Video Wrapper End ==========-->
<!--===========  Projects wrapper Start =============-->
<div class="projects-wrapper projectinfotechno-bg section-space--ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_40">
                    <h6 class="section-sub-title mb-20">Studi Kasus</h6>
                    <h3 class="heading">
                        Beberapa Pekerjaan Terakhir <span class="text-color-primary">Kami</span>
                    </h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="projects-wrap swiper-container projects-slider__container">
                    <div class="swiper-wrapper">
                        {% for portfolio in portfolios %}
                        <div class="swiper-slide">
                            {% partial 'portfolio/card-portfolio' portfolio=portfolio %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination swiper-pagination-project mt_20"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===========  Projects wrapper End =============-->
<!--====================  testimonial section ====================-->
<div class="testimonial-slider-area section-space--ptb_120 bg-gray-3">
    <div class="container-fluid container-fluid--cp-80">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrap text-center section-space--mb_60">
                    <h6 class="section-sub-title mb-20">Testimonials</h6>
                    <h3 class="heading">
                        Apa yang orang katakan tentang {{ settings.site.name }}?
                    </h3>
                </div>
                <div class="testimonial-slider">
                    <div class="swiper-container testimonial-slider__container-two">
                        <div class="swiper-wrapper testimonial-slider__wrapper">
                            {% for review in reviews %}
                            <div class="swiper-slide">
                                <div class="testimonial-slider__single wow move-up">
                                    <div class="testimonial-slider__text">{{ review.body }}</div>
                                    <div class="author-info">
                                        <div class="testimonial-slider__media">
                                            <img src="assets/images/testimonial/mitech-testimonial-avata-04-70x70.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="testimonial-slider__author">
                                            <h6 class="name">{{ review.name }}</h6>
                                            <span class="designation">{{ review.role }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-t0 section-space--mt_40"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of testimonial section  ====================-->
<!--====================  Blog Section Start ====================-->
<div class="blog-section-wrapper section-space--pt_100  section-space--pb_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 wow move-up">
                <div class="section-title tablet-mb__60 section-space--mb_30 tablet-mt__0 small-mt__0 small-mb__60 mt-30">
                    <h6 class="section-sub-title mb-20">Berita &amp; Artikel</h6>
                    <h3 class="heading">
                        Artikel Menarik <span class="text-color-primary">{{ settings.site.name }}</span>
                    </h3>
                </div>
            </div>
            {% for blog in blogPosts.posts  %}
            <div class="col-lg-4 col-md-6 wow move-up">
                {% partial 'blog/card-blog' blog=blog %}
                <!--===== Single Blog Item End =========-->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--====================  Blog Section End  ====================-->

<!--====================  Conact us Section Start ====================-->
<div class="contact-us-section-wrappaer infotechno-contact-us-bg section-space--ptb_120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-lg-6">
                <div class="conact-us-wrap-one mb-30">
                    <h3 class="heading">Untuk membuat permintaan <br>informasi lebih lanjut, <br><span class="text-color-primary">anda dapat</span> melengkapi formulir ini. </h3>
                    <div class="sub-heading">Kami hanya butuh beberapa jam! <br> Tidak lebih dari 2 hari kerja sejak menerima tiket terbitan Anda.</div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-6">
                <div class="contact-info-one text-center">
                    <div class="icon">
                        <span class="fa fa-phone"></span>
                    </div>
                    <h6 class="heading font-weight--reguler">Reach out now!</h6>
                    <h2 class="call-us">
                        <a href="tel:{{ settings.site.contact_phone }}">{{ settings.site.contact_phone }}</a>
                    </h2>
                    <div class="contact-us-button mt-20">
                        <a href="{{ 'contact'|page }}" class="btn btn--secondary">HUBUNGI KAMI</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  Conact us Section End  ====================-->
