title     = "Layanan"
url       = "/service"
layout    = "default"
is_hidden = 0
==
function onEnd() {
    $this['breadcrumbs'] = [
        [
            'name' => 'Layanan',
            'url'  => '/service'
        ]
    ];
}
==
{% partial 'banner-primary' %}
<div class="site-wrapper-reveal">
    <!--===========  feature-large-images-wrapper  Start =============-->
    <div class="feature-large-images-wrapper section-space--ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title-wrap Start -->
                    <div class="section-title-wrap text-center section-space--mb_60">
                        <h6 class="section-sub-title mb-20">Layanan Kami</h6>
                        <h3 class="heading">Kami menjalankan semua jenis layanan IT yang <br>  menunjukkan kesuksesan Anda</h3>
                    </div>
                    <!-- section-title-wrap Start -->
                </div>
            </div>
            <div class="feature-images__one">
                <div class="row">
                	{% for service in settings.page.services  %}
                    <div class="col-lg-6 col-md-6 wow move-up">
                       {% partial 'service/card-service' service=service %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--===========  feature-large-images-wrapper  End =============-->

    {% partial 'banner-contact' %}
</div>
