<!-- ht-box-icon Start -->
<div class="ht-box-images style-01">
    <div class="image-box-wrap">
        <div class="box-image">
            <img class="img-fulid" src="{{ service.icon ? service.icon|media : 'https://demo.hasthemes.com/mitech-preview/assets/images/icons/mitech-box-image-style-01-image-01-100x108.png' }}" alt="">
        </div>
        <div class="content">
            <h5 class="heading">{{ service.name }} </h5>
            <div class="text">{{ service.description }}</div>
        </div>
    </div>
</div>
<!-- ht-box-icon End -->
