title     = "s"
url       = "/blog/read/:slug"
layout    = "default"
is_hidden = 0

[blogPost]
slug         = "{{ :slug }}"
categoryPage = "about"
==
function onEnd() {
    $blog                = $this->blogPost->post;
    $this->page->title   = $blog->title;
    $this['breadcrumbs'] = [
        [
            'name' => $blog->title,
            'url'  => '/blog/read/'.$blog->slug
        ]
    ];
}
==
{% set blog = blogPost.post %}
{% partial 'banner-primary' %}
<div class="site-wrapper-reveal">
    <!--====================  Blog Area Start ====================-->
    <div class="blog-pages-wrapper section-space--ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-2">
                    <div class="page-sidebar-content-wrapper page-sidebar-right small-mt__40 tablet-mt__40">
                        <!-- === Sidebar Widget Start === -->
                        <div class="sidebar-widget widget-blog-recent-post wow move-up">
                            <h4 class="sidebar-widget-title">Recent Posts</h4>
                            <ul>
                                <li>
                                    <a href="#">Ideas for High Returns on Investment</a>
                                </li>
                                <li>
                                    <a href="#">How Technology Made Businesses More Efficient</a>
                                </li>
                                <li>
                                    <a href="#">Data Secure on Transitioning to a New Office</a>
                                </li>
                                <li>
                                    <a href="#">The Keys to Persuading Customers Nowadays</a>
                                </li>
                                <li>
                                    <a href="#">Blockchain Technology Effects on Logistics Sector?</a>
                                </li>
                            </ul>
                        </div>
                        <!-- === Sidebar Widget End === -->

                        <!-- === Sidebar Widget Start === -->
                        <div class="sidebar-widget widget-tag wow move-up">
                            <h4 class="sidebar-widget-title">Categories</h4>
                            <a href="#" class="ht-btn ht-btn-xs">business</a>
                            <a href="#" class="ht-btn ht-btn-xs">featured</a>
                            <a href="#" class="ht-btn ht-btn-xs">IT Security</a>
                            <a href="#" class="ht-btn ht-btn-xs">IT services</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 order-lg-1 order-1">
                    <div class="main-blog-wrap">
                        <!--======= Single Blog Item Start ========-->
                        <div class="single-blog-item">
                            <!-- Post Feature Start -->
                            <div class="post-feature blog-thumbnail  wow move-up">
                                <img class="img-fluid" src="{{ blog.featured_images.count ? blog.featured_images[0].path : 'assets/images/blog-placeholder.png'|theme }}" alt="Blog Images">
                            </div>
                            <!-- Post Feature End -->
                            <!-- Post info Start -->
                            <div class="post-info lg-blog-post-info  wow move-up">
                                <h3 class="post-title">{{ blog.title }}</h3>
                                <div class="post-meta mt-20">
                                    <div class="post-author">
                                        <a href="#">
                                            <img class="img-fluid avatar-96" src="{{ blog.featured_images.count ? blog.featured_images[0].path : 'assets/images/review-placeholder.png'|theme }}" alt="" class="img-responsive">{{ settings.site.name }}
                                        </a>
                                    </div>
                                    <div class="post-date">
                                        <span class="far fa-calendar meta-icon"></span>
                                        {{ blog.published_at|date('F d, Y')}}
                                    </div>
                                </div>
                                <div class="post-excerpt mt-15">
                                    {{ blog.content_html|raw }}
                                    <hr>
                                    <div class="entry-post-share-wrap  border-bottom">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6 col-md-6"></div>
                                            <div class="col-lg-6 col-md-6">
                                                <div id="entry-post-share" class="entry-post-share">
                                                    <div class="share-label">Bagikan tulisan ini
                                                </div>
                                                    <div class="share-media">
                                                        <span class="share-icon fa fa-share-alt"></span>
                                                        <div class="share-list">
                                                            <a class="hint--bounce hint--top hint--primary twitter" target="_blank" aria-label="Twitter" href="#">
                                                                <i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a class="hint--bounce hint--top hint--primary facebook" target="_blank" aria-label="Facebook" href="#">
                                                                <i class="fab fa-facebook-f"></i>
                                                            </a>
                                                            <a class="hint--bounce hint--top hint--primary linkedin" target="_blank" aria-label="Linkedin" href="#">
                                                                <i class="fab fa-linkedin"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-author">
                                        <div class="author-info">
                                            <div class="author-avatar">
                                                <img src="{{ 'assets/images/review-placeholder.png'|theme }}" alt="">
                                            </div>
                                            <div class="author-description">
                                                <h6 class="author-name">{{ settings.site.name }}</h6>
                                                <div class="author-biographical-info">
                                                    {{ settings.site.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# <div class="related-posts-wrapper">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <a class="single-valid-post-wrapper" href="#">
                                                    <div class="single-blog__item">
                                                        <div class="single-valid__thum bg-img" data-bg="assets/images/blog/blog-03-370x120.jpg"></div>
                                                        <div class="post-content">
                                                            <h6 class="post-title font-weight--bold">Designers’ Identities &Social Unconscious Bias</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-6">
                                                <a class="single-valid-post-wrapper" href="#">
                                                    <div class="single-blog__item">
                                                        <div class="single-valid__thum bg-img" data-bg="assets/images/blog/blog-05-370x120.jpg"></div>
                                                        <div class="post-content">
                                                            <h6 class="post-title font-weight--bold">Designers’ Identities &Social Unconscious Bias</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% partial 'banner-contact' %}
</div>
