description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% partial 'header' %}

        <div class="main-wrapper">
            <div class="site-wrapper-reveal">
                {% page %}
            </div>

            {% partial 'footer' %}
        </div>

        <div class="preloader-activate preloader-active open_tm_preloader">
            <div class="preloader-area-wrap">
                <div class="spinner d-flex justify-content-center align-items-center h-100">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fa fa-chevron-up"></i>
            <i class="arrow-bottom fa fa-chevron-up"></i>
        </a>

        <script src="{{ [
            'assets/js/jquery.js',
            '@framework',
            '@framework.extras',

            'assets/js/jquery.migrate.js',
            'assets/js/bootstrap.js',
	        'assets/js/plugin.js',
	        'assets/js/main.js',

        ]|theme }}"></script>

        {% scripts %}

        {% partial 'flash' %}
    </body>
</html>
