<a href="{{ 'portfolio/detail'|page({parameter: portfolio.slug}) }}" class="projects-wrap style-01 wow move-up">
    <div class="projects-image-box">
        <div class="projects-image">
            <img class="img-fluid" src="{{ portfolio.picture ? portfolio.picture.path : 'assets/images/portfolio-placeholder.png'|theme }}" alt="">
        </div>
        <div class="content">
            <h6 class="heading">{{ portfolio.name }}</h6>
            <div class="text">At Mitech, we have a holistic and integrated approach towards core modernization to experience technological evolution.
        </div>
            <div class="box-projects-arrow">
                <span class="button-text">SELENGKAPNYA</span>
                <i class="fa fa-long-arrow-right ml-1"></i>
            </div>
        </div>
    </div>
</a>
