<div class="ht-box-images style-01" data-toggle="tooltip" title="{{ client.name }}">
    <div class="image-box-wrap">
        <div class="box-image mb-0">
            <img class="img-fulid" src="{{ client.picture ? client.picture.path : 'assets/images/client-placeholder.png'|theme }}" alt="">
        </div>
    </div>
</div>
