<div class="testimonial-slider--info">
    <div class="testimonial-slider__media">
        <img src="{{ review.picture ? review.picture.path : 'assets/images/review-placeholder.png'|theme }}" class="img-fluid" alt="">
    </div>
    <div class="testimonial-slider__author">
        <div class="testimonial-rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="author-info">
            <h6 class="name">{{ review.name }}</h6>
            <span class="designation">{{ review.role }}</span>
        </div>
    </div>
</div>
<div class="testimonial-slider__text">{{ review.body }}</div>
